This notebook will showcase the Final grades for students in IS361 for the recent semester.

In [2]:
import pandas as pd
import matplotlib

In [3]:
#The set of names and grades for students in IS361
names = ['Micheal', 'Susan', 'Spencer', 'Ana', 'Tammy', 'Jennifer']
grades = ['A', 'B','A-', 'B+', 'B-','A+']

In [7]:

StudentGrades = list(zip(names, grades))
StudentGrades

[('Micheal', 'A'),
 ('Susan', 'B'),
 ('Spencer', 'A-'),
 ('Ana', 'B+'),
 ('Tammy', 'B-'),
 ('Jennifer', 'A+')]

The DataFrame function uses the data to form a table. In this section, we can see the  names and grades of the students.

In [16]:
df = pd.DataFrame(data = StudentGrades, columns = ['names', 'grades'])
index = [1,2,3,4,5,6]
df

      names grades
0   Micheal      A
1     Susan      B
2   Spencer     A-
3       Ana     B+
4     Tammy     B-
5  Jennifer     A+